<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Contact us</title>
    <!-- Bootstrap icons-->
    <link href="static/css/bootstrap-icons.css" rel="stylesheet" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/css/styles.css" rel="stylesheet" />
    <!-- Personal Styling CSS-->
    <link href="static/css/personal.css" rel="stylesheet" />
  </head>
  <body>
    <section class="bg-light py-5">
      <div class="container">
        <div class="row py-4">
          <div class="col-lg-6">
            <h2 class="fw-light">CỬA HÀNG</h2>
            <p class="lead">
              Hãy ghé thăm cửa hàng của Camelia Brand để xem trực tiếp các sản
              phẩm.
            </p>
            <ul class="fs-5">
              <li>Store HCM : 71 Trần Quang Diệu, Phường 14, Quận 3</li>
              <li>Store HCM : 633 Nguyễn Đình Chiểu, Phường 2, Quận 3</li>
            </ul>
            <p class="fs-4 fw-bold">
              Giờ mở cửa: từ 9AM đến 10PM các ngày trong tuần.
            </p>
          </div>
          <div class="col-lg-6 bg-cream p-4">
            <h2>Liên hệ chúng tôi</h2>
            <form>
              <div class="mb-3">
                <label for="name" class="form-label">Họ và Tên</label>
                <input type="text" id="name" class="form-control" required />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control" required />
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Lời nhắn</label>
                <textarea
                  class="form-control"
                  id="message"
                  rows="2"
                  required
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-light">
                Gửi
              </button>
            </form>
          </div>
        </div>
        <img src="assets/contact/1.jpg" class="img-fluid py-2" />
        <img src="assets/contact/address.jpg" class="img-fluid py-2" />
        <img src="assets/contact/2.jpg" class="img-fluid py-2" />
        <img src="assets/contact/address2.jpg" class="img-fluid py-2" />
        <hr />
        <p>
          Nếu quý khách có bất kỳ yêu cầu hay thắc mắc nào hoặc không hài lòng
          về sản phẩm/dịch vụ của Camelia Brand, hãy liên hệ với chúng tôi tại
          thecameliavn@gmail.com hoặc 0909140170.
        </p>
      </div>
    </section>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/cart.js"></script>
  </body>
</html>
