<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Frequently Asked Questions at Camelia</title>
    <!-- Bootstrap icons-->
    <link href="css/bootstrap-icons.css" rel="stylesheet" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <!-- Personal Styling CSS-->
    <link href="css/personal.css" rel="stylesheet" />
  </head>
  <body>
    <!-- FAQ-->
    <section class="bg-light py-5">
      <div class="container">
        <h2 class="text-center">Các câu hỏi thường gặp?</h2>
        <div class="accordion mt-4" id="faqAccordion">
          <div class="accordion-item">
            <h3 class="accordion-header" id="faqHeading1">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faqCollapse1"
                aria-expanded="true"
                aria-controls="faqCollapse1"
              >
                Tại sao Camelia?
              </button>
            </h3>
            <div
              id="faqCollapse1"
              class="accordion-collapse collapse show"
              aria-labelledby="faqHeading1"
              data-bs-parent="#faqAccordion"
            >
              <div class="accordion-body">
                Với thông điệp "More than Simplicity", Camelia dành trọn tâm huyết để làm ra các sản phẩm của mình. Không chỉ là sự đơn giản ở thiết kế bên ngoài giúp cho người dùng đỡ mất thời gian suy nghĩ đến việc lựa chọn quần áo phù hợp, mà thiết kế bên trong của mỗi sản phẩm đều được chăm chút, tinh gọn nhằm tạo ra sự tiện lợi và ngăn nắp cho người sử dụng. 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="faqHeading2">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faqCollapse2"
                aria-expanded="false"
                aria-controls="faqCollapse2"
              >
                Minimalism là gì?
              </button>
            </h3>
            <div
              id="faqCollapse2"
              class="accordion-collapse collapse"
              aria-labelledby="faqHeading2"
              data-bs-parent="#faqAccordion"
            >
              <div class="accordion-body">
                Minimalism - phong cách tối giản trong thời trang đã trở thành một xu hướng phổ biến trong ngành công nghiệp thời trang. Nó không chỉ là một phong cách mặc đẹp trong thời trang mà còn là một tuyên ngôn về sự tối giản, tinh tế và tinh tế hơn. 
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header" id="faqHeading3">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faqCollapse3"
                aria-expanded="false"
                aria-controls="faqCollapse3"
              >
              Điều kiện bảo hành của Camelia?
              </button>
            </h3>
            <div
              id="faqCollapse3"
              class="accordion-collapse collapse"
              aria-labelledby="faqHeading3"
              data-bs-parent="#faqAccordion"
            >
              <div class="accordion-body">
                Nếu xuất hiện lỗi kỹ thuật trên bất kỳ bộ phận nào của sản phẩm, hãy liên hệ cho chúng tôi. 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/cart.js"></script>
  </body>
</html>
